.introduction-left-container-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    padding: var(--padding-page-properties);

}

.introduction-left-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
    max-width: 1536px;
    width: 100%;
    color: var(--title-font-color);
    height: 100%;
}

.introduction-left-container section{
    display: flex;
    margin: 0 0 0 60px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.introduction-left-container section h1{
    font-size: var(--font-36px-size);
    font-weight: bold;
    margin: 15px 0 15px;
}

.introduction-left-container section p{
    font-size: var(--font-normal-size);
    font-weight: normal;
    margin: 15px 0 15px;
    color: var(--light-text-font-color);
}

.introduction-left-container section button{
    background: var(--additional-color);
    color: var(--dark-text-font-color);
    border: none;
    border-radius: 8px;
    padding: var(--introduction-padding-button-properites);
    cursor: pointer;
    margin: 32px 0 0 0;
    transition: 0.2s ease-in-out;
    font-size: var(--header-buttons-font-size);
    -webkit-box-shadow: 0px 0px 92px -4px rgba(31,173,114,1);
    -moz-box-shadow: 0px 0px 92px -4px rgba(31,173,114,1);
    box-shadow: 0px 0px 92px -4px rgba(31,173,114,1);
}

.introduction-left-container section button:hover{
    transition: 0.2s ease-in-out;
    background: var(--additional-color-hovered);
    color: var(--dark-text-font-color);
    -webkit-box-shadow: 0px 0px 134px -4px rgba(31,173,114,1);
    -moz-box-shadow: 0px 0px 134px -4px rgba(31,173,114,1);
    box-shadow: 0px 0px 134px -4px rgba(31,173,114,1);
}