.product-credentials-container-wrapper {
    display: flex;
    margin: 128px 0 128px 0;
    background: var(--secondary-color);
    padding: 64px 192px 64px 192px;
    color: var(--title-font-color);
    text-align: left;
}

.product-credentials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-credentials-container h5 {
    font-weight: normal;
    margin: 0 0 25px 0;
    color: var(--additional-color);
}

.product-credentials-container h1 {
    margin: 0;
    padding: 0;
    color: var(--title-font-color);
    font-size: var(--font-40px-size);
}

.product-credentials-container h3 {
    margin: 0;
    padding: 0;
    color: var(--additional-color);
    font-size: var(--font-36px-size);
}

.product-credentials-container h6 {
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: normal;
    color: var(--light-text-font-color);
    font-size: var(--font-16px-size);
}

.product-credentials-container p {
    font-size: var(--font-16px-size);
}

.product-properties-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-properties-buttons-container section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-properties-buttons-container section label {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.product-properties-buttons-container section span button {
    border-radius: 8px;
    border: 1px solid var(--white-color);
    background: none;
    height: 55px;
    padding: 16px 32px 16px 32px;
    color: var(--title-font-color);
    transition: 0.2s ease-in-out;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.product-properties-buttons-container section span button:hover {
    background: var(--additional-color);
    color: var(--dark-text-font-color);
    border: 1px solid var(--additional-color);
}
.product-properties-buttons-container section span button:focus {
    background: var(--additional-color);
    color: var(--dark-text-font-color);
    border: 1px solid var(--additional-color);
}
.input-quantity-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
    border-radius: 8px;
    padding: 0 16px 0 16px;
    border: 1px solid var(--white-color);
}

.input-quantity-wrapper input {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: none;
    color: var(--title-font-color);
    font-size: var(--font-16px-size);
    text-align: center;
}

.input-quantity-wrapper button {
    border: none;
    font-weight: bolder;
    font-size: 1.6rem;
    display: flex;
    padding: 5px;
    text-align: center;
    color: var(--title-font-color);
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.input-quantity-wrapper button:hover{
    background: var(--secondary-color-hovered);
}

.add-to-cart-button{
    border-radius: 8px;
    background: none;
    width: 100%;
    margin: 0 0 0 10px;
    padding: 16px 32px 16px 32px;
    color: var(--dark-text-font-color);
    background: var(--additional-color);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: var(--font-16px-size);
    height: 54px;
    border: none;
}
