.argument-text-container {
    background: var(--secondary-color);
    height: 232px;
    padding: 0 32px 0 32px;
    text-align: left;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: column;
    color: var(--light-text-font-color);
    max-width: 380px;
    width: 100%;
    margin: 15px;
}

.argument-text-container h1{
    margin: 32px 0 16px 0;
    padding: 0;
    font-size: 23px;
    text-align: left;
}

.argument-text-container p{
    margin: 0;
    padding: 0;
    font-size: 17px;
}