.product-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 320px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}


.product-container-wrapper img {
    max-width: 360px;
    max-height: 320px;
    width: 100%;
    height: 100%;
}

.product-container-wrapper section{
    display: flex;
    margin: 16px 0 0 0;
    flex-direction: column;
    text-align: left;
    height: 176px;
    justify-content: space-between;
}

.product-container-wrapper section h6{
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    color: var(--additional-color);
}

.product-container-wrapper section h2{
    font-size: 20px;
    margin: 0;
    color: var(--title-font-color);
}

.product-container-wrapper section p{
    font-size: 16px;
    margin: 0;
    color: var(--subtitle-font-color);
}

.product-container-wrapper section h3{
    font-size: 20px;
    margin: 0;
    color: var(--additional-color);
}