.product-features-container-text {
    display: flex;
    width: 325px;
    color: var(--title-font-color);
    flex-direction: column;
    text-align: left;
    margin: 20px 20px 20px 20px;
}

.product-features-container-text h2{
    margin: 0 0 25px 0;
}

.product-features-container-text p{
    font-weight: lighter;
}