.blog-component-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    color: var(--title-font-color);
    margin: 30px 15px 30px 15px;
    text-decoration: none;
}

.blog-image{
    width: 100%;
}

.blog-component-wrapper section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    text-align: left;
}

.author-info-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-items: flex-start;
}

.author-info-container h2{
    margin: 0 0 3px 0;
    font-size: var(--font-16px-size);
    font-weight: 400;
    color: var(--light-text-font-color);
}

.author-info-container h3{
    margin: 0;
    font-weight: 400;
    font-size: var(--font-16px-size);
    color: var(--light-text-font-color);
}

.author-info{
    margin: 0 0 0 10px;
}

.author-image{
    width: 40px;
}