.main-benefits-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-page-properties);
    height: 350px;
}

.main-benefits{
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 0 64px 0 64px;
    color: var(--title-font-color);
    background: var(--secondary-color);
}

.benefit-section{
    display: flex;
    width: 282px;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.benefit-section h1{
    font-size: var(--font-36px-size);
    font-weight: bold;
    margin: 15px 0 15px;
}

.benefit-section p{
    font-size: var(--font-14px-size);
    font-weight: bold;
}