.footer-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-page-properties);
    background: var(--secondary-color);
    height: 476px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--title-font-color);
    height: 100%;
}

.footer-container hr {
    width: 100%;
}

.footer-upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: start;
    align-content: start;
    width: 100%;
    margin: 64px 0 64px 0;
}

.footer-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 767px;
    padding: 0 64px 0 64px;
}

.footer-links-wrapper section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 204px;
}

.footer-links-wrapper section h2 {
    color: var(--white-color);
}

.footer-links-wrapper section a {
    text-decoration: none;
    font-weight: normal;
    color: var(--white-color);
    transition: 0.2s ease-in-out;
}

.footer-links-wrapper section a:hover {
    text-decoration: none;
    font-weight: normal;
    color: var(--additional-color);
    transition: 0.2s ease-in-out;
}

.footer-bottom-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin: 0 0 30px 0;
}

.footer-bottom-section section:first-child{
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.footer-bottom-section section:last-child{
    display: flex;
    justify-content: space-between;
    width: 175px;
}

.footer-bottom-section section a{
    text-decoration: none;
    font-size: 12px;
    color: var(--white-color);
    font-weight: normal;
    transition: 0.2s ease-in-out;
}

.footer-bottom-section section a:hover{
    text-decoration: none;
    color: var(--additional-color);
    transition: 0.2s ease-in-out;
}