@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: var(--primary-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --primary-color: #0c1620;
    --secondary-color: #171528;
    --secondary-color-hovered: rgba(75, 71, 120, 0.34);
    --title-font-color: #ffffff;
    --subtitle-font-color: #A6A6A6;
    --additional-color: #1FAD72;
    --additional-color-hovered: #2aea9a;
    --dark-text-font-color: #000400;
    --light-text-font-color: #D2CECE;
    --padding-page-properties: 0 192px 0 192px;
    --header-font-size: 1rem;
    --header-buttons-font-size: 0.9rem;
    --font-big-size: 3.75rem;
    --font-normal-size: 1.125rem;
    --font-30px-size: 1.875rem;
    --font-36px-size: 2.25rem;
    --font-40px-size: 2.55rem;
    --font-16px-size: 1rem;
    --font-14px-size: 0.875rem;
    --white-color: #ffffff;
    --white-color-hovered: #c1c1c1;
    --introduction-padding-button-properites: 16px 32px 16px 32px;
}